.nav-link{
    color:black;
}

.nav-link:hover{
    color:cadetblue;
}

.dropdown-item:hover{
    color:cadetblue;
}

.hero-image-container{
    background-image: url("../images/einar-storsul-2R9Rzn40Fow-unsplash.jpg");
    background-size: cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:60px 30px 10px;
    width: 100%;
    height:500px;
    justify-content:center;
}

.hero-image-container .img {
    align-self: center;
}

.intro{
    font-family: Arial, Helvetica, sans-serif;
    font-size:74px;
    color:white;
}

.intro-script{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    display:block;
    align-items: center;
    text-align: center;
    color:white;
}

.review-container{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:50px;
}

.steps-container{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:50px;
}

.review-table {
    width: 80%;
    align-self: center;
    justify-content: center;
}

.steps-table {
    width: 80%;
    align-self: center;
    justify-content: center;
}

td {
    vertical-align: top;
    padding: 20px;
}

.title{
    text-align:left;
    font-weight: bold;
}

.number{
    font-weight:bold;
    font-size: 30px;
    color:cadetblue;
}

.paragraph{
    text-align:left;
}

.img-social{
    height:20px;
}

.message{
    text-align:center;
    justify-content:center;
}

.message-me{
    color:cadetblue;
}

.message-me:hover{
    color:#28e7ee;
    text-shadow: 1px 3px 0 #c0c0c0, 1px 13px 5px #d6d4d4;
}

.container-footer{
    text-align:center;
    padding:20px;
}

.social-footer{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin:20px 6in 20px;
}